@mixin asset-icons{        
    &[class^="asset-icon-"]:before, 
    &[class*=" asset-icon-"]:before {
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &.asset-icon-multiple:before {font-family: 'remixicon' !important;  content: "\ec13"; }

    &.asset-icon-alarm-fill:before {font-family: 'remixicon' !important;  content: "\ea1a"; }
    &.asset-icon-aliens-fill:before {font-family: 'remixicon' !important;  content: "\ea22"; }
    &.asset-icon-ancient-gate-fill:before {font-family: 'remixicon' !important;  content: "\ea31"; }
    &.asset-icon-ancient-pavilion-fill:before {font-family: 'remixicon' !important;  content: "\ea33"; }
    &.asset-icon-archive-fill:before {font-family: 'remixicon' !important;  content: "\ea47"; }
    &.asset-icon-award-fill:before {font-family: 'remixicon' !important;  content: "\ea89"; }
    &.asset-icon-bank-fill:before {font-family: 'remixicon' !important;  content: "\ea93"; }
    &.asset-icon-bar-chart-2-fill:before {font-family: 'remixicon' !important;  content: "\ea95"; }
    &.asset-icon-basketball-fill:before {font-family: 'remixicon' !important;  content: "\eaa7"; }
    &.asset-icon-battery-2-charge-fill:before {font-family: 'remixicon' !important;  content: "\eaa9"; }
    &.asset-icon-bike-fill:before {font-family: 'remixicon' !important;  content: "\eabd"; }
    &.asset-icon-blaze-fill:before {font-family: 'remixicon' !important;  content: "\eac7"; }
    &.asset-icon-book-3-fill:before {font-family: 'remixicon' !important;  content: "\ead4"; }
    &.asset-icon-book-fill:before {font-family: 'remixicon' !important;  content: "\ead6"; }
    &.asset-icon-book-read-fill:before {font-family: 'remixicon' !important;  content: "\eadc"; }
    &.asset-icon-bug-2-fill:before {font-family: 'remixicon' !important;  content: "\eb04"; }
    &.asset-icon-bug-fill:before {font-family: 'remixicon' !important;  content: "\eb06"; }
    &.asset-icon-building-fill:before {font-family: 'remixicon' !important;  content: "\EB0E"; }
    &.asset-icon-building-2-fill:before {font-family: 'remixicon' !important;  content: "\EB08"; }
    &.asset-icon-building-4-fill:before {font-family: 'remixicon' !important;  content: "\eb0c"; }
    &.asset-icon-bus-2-fill:before {font-family: 'remixicon' !important;  content: "\eb10"; }
    &.asset-icon-bus-fill:before {font-family: 'remixicon' !important;  content: "\eb12"; }
    &.asset-icon-cactus-fill:before {font-family: 'remixicon' !important;  content: "\eb16"; }
    &.asset-icon-cake-fill:before {font-family: 'remixicon' !important;  content: "\eb1c"; }
    &.asset-icon-calendar-todo-fill:before {font-family: 'remixicon' !important;  content: "\eb28"; }
    &.asset-icon-camera-fill:before {font-family: 'remixicon' !important;  content: "\eb2e"; }
    &.asset-icon-capsule-fill:before {font-family: 'remixicon' !important;  content: "\eb36"; }
    &.asset-icon-car-fill:before {font-family: 'remixicon' !important;  content: "\eb38"; }
    &.asset-icon-chat-1-fill:before {font-family: 'remixicon' !important;  content: "\eb4c"; }
    &.asset-icon-chat-3-fill:before {font-family: 'remixicon' !important;  content: "\eb50"; }
    &.asset-icon-chat-4-fill:before {font-family: 'remixicon' !important;  content: "\eb52"; }
    &.asset-icon-check-line:before {font-family: 'remixicon' !important;  content: "\eb7b"; }
    &.asset-icon-close-line:before {font-family: 'remixicon' !important;  content: "\eb99"; }
    &.asset-icon-cloud-fill:before {font-family: 'remixicon' !important;  content: "\eb9c"; }
    &.asset-icon-cloudy-2-fill:before {font-family: 'remixicon' !important;  content: "\eba2"; }
    &.asset-icon-coin-fill:before {font-family: 'remixicon' !important;  content: "\ebb1"; }
    &.asset-icon-collage-fill:before {font-family: 'remixicon' !important;  content: "\ebb5"; }
    &.asset-icon-computer-fill:before {font-family: 'remixicon' !important;  content: "\ebc9"; }
    &.asset-icon-copper-coin-fill:before {font-family: 'remixicon' !important;  content: "\ebdb"; }
    &.asset-icon-copper-diamond-fill:before {font-family: 'remixicon' !important;  content: "\ebdd"; }
    &.asset-icon-creative-commons-by-fill:before {font-family: 'remixicon' !important;  content: "\ebf1"; }
    &.asset-icon-criminal-fill:before {font-family: 'remixicon' !important;  content: "\ebfd"; }
    &.asset-icon-cup-fill:before {font-family: 'remixicon' !important;  content: "\ec05"; }
    &.asset-icon-database-2-fill:before {font-family: 'remixicon' !important;  content: "\ec15"; }
    &.asset-icon-database-fill:before {font-family: 'remixicon' !important;  content: "\ec17"; }
    &.asset-icon-door-open-fill:before {font-family: 'remixicon' !important;  content: "\ec4b"; }
    &.asset-icon-drop-fill:before {font-family: 'remixicon' !important;  content: "\ec69"; }
    &.asset-icon-earth-fill:before {font-family: 'remixicon' !important;  content: "\ec79"; }
    &.asset-icon-earthquake-fill:before {font-family: 'remixicon' !important;  content: "\ec7b"; }
    &.asset-icon-eye-fill:before {font-family: 'remixicon' !important;  content: "\ecb4"; }
    &.asset-icon-file-fill:before {font-family: 'remixicon' !important;  content: "\ece0"; }
    &.asset-icon-file-paper-2-fill:before {font-family: 'remixicon' !important;  content: "\ecf8"; }
    &.asset-icon-file-settings-fill:before {font-family: 'remixicon' !important;  content: "\ed06"; }
    &.asset-icon-film-fill:before {font-family: 'remixicon' !important;  content: "\ed20"; }
    &.asset-icon-fire-fill:before {font-family: 'remixicon' !important;  content: "\ed32"; }
    &.asset-icon-flag-fill:before {font-family: 'remixicon' !important;  content: "\ed3a"; }
    &.asset-icon-flag-2-fill:before {font-family: 'remixicon' !important;  content: "\ed38"; }
    &.asset-icon-flashlight-fill:before {font-family: 'remixicon' !important;  content: "\ed3c"; }
    &.asset-icon-flask-fill:before {font-family: 'remixicon' !important;  content: "\ed3e"; }
    &.asset-icon-flood-fill:before {font-family: 'remixicon' !important;  content: "\ed44"; }
    &.asset-icon-focus-2-fill:before {font-family: 'remixicon' !important;  content: "\ed49"; }
    &.asset-icon-focus-3-fill:before {font-family: 'remixicon' !important;  content: "\ed4b"; }
    &.asset-icon-focus-fill:before {font-family: 'remixicon' !important;  content: "\ed4d"; }
    &.asset-icon-folder-fill:before {font-family: 'remixicon' !important;  content: "\ed61"; }
    &.asset-icon-footprint-fill:before {font-family: 'remixicon' !important;  content: "\ed90"; }
    &.asset-icon-game-fill:before {font-family: 'remixicon' !important;  content: "\eda8"; }
    &.asset-icon-gamepad-fill:before {font-family: 'remixicon' !important;  content: "\edaa"; }
    &.asset-icon-gas-station-fill:before {font-family: 'remixicon' !important;  content: "\edac"; }
    &.asset-icon-ghost-2-fill:before {font-family: 'remixicon' !important;  content: "\edb2"; }
    &.asset-icon-ghost-fill:before {font-family: 'remixicon' !important;  content: "\edb4"; }
    &.asset-icon-ghost-smile-fill:before {font-family: 'remixicon' !important;  content: "\edb6"; }
    &.asset-icon-gift-fill:before {font-family: 'remixicon' !important;  content: "\edba"; }
    &.asset-icon-git-repository-fill:before {font-family: 'remixicon' !important;  content: "\edc6"; }
    &.asset-icon-global-fill:before {font-family: 'remixicon' !important;  content: "\edce"; }
    &.asset-icon-globe-fill:before {font-family: 'remixicon' !important;  content: "\edd0"; }
    &.asset-icon-grid-fill:before {font-family: 'remixicon' !important;  content: "\edde"; }
    &.asset-icon-hammer-fill:before {font-family: 'remixicon' !important;  content: "\edee"; }
    &.asset-icon-headphone-fill:before {font-family: 'remixicon' !important;  content: "\ee04"; }
    &.asset-icon-heart-3-fill:before {font-family: 'remixicon' !important;  content: "\ee0a"; }
    &.asset-icon-heart-fill:before {font-family: 'remixicon' !important;  content: "\ee0e"; }
    &.asset-icon-home-2-fill:before {font-family: 'remixicon' !important;  content: "\ee18"; }
    &.asset-icon-hotel-bed-fill:before {font-family: 'remixicon' !important;  content: "\ee38"; }
    &.asset-icon-information-fill:before {font-family: 'remixicon' !important;  content: "\ee58"; }
    &.asset-icon-infrared-thermometer-fill:before {font-family: 'remixicon' !important;  content: "\ee5a"; }
    &.asset-icon-ink-bottle-fill:before {font-family: 'remixicon' !important;  content: "\ee5c"; }
    &.asset-icon-key-2-fill:before {font-family: 'remixicon' !important;  content: "\ee6e"; }
    &.asset-icon-key-fill:before {font-family: 'remixicon' !important;  content: "\ee70"; }
    &.asset-icon-keyboard-box-fill:before {font-family: 'remixicon' !important;  content: "\ee72"; }
    &.asset-icon-knife-blood-fill:before {font-family: 'remixicon' !important;  content: "\ee78"; }
    &.asset-icon-knife-fill:before {font-family: 'remixicon' !important;  content: "\ee7a"; }
    &.asset-icon-landscape-fill:before {font-family: 'remixicon' !important;  content: "\ee7c"; }
    &.asset-icon-leaf-fill:before {font-family: 'remixicon' !important;  content: "\eea2"; }
    &.asset-icon-lifebuoy-fill:before {font-family: 'remixicon' !important;  content: "\eea4"; }
    &.asset-icon-lightbulb-fill:before {font-family: 'remixicon' !important;  content: "\eea6"; }
    &.asset-icon-lock-fill:before {font-family: 'remixicon' !important;  content: "\eecd"; }
    &.asset-icon-magic-fill:before {font-family: 'remixicon' !important;  content: "\eee9"; }
    &.asset-icon-mail-fill:before {font-family: 'remixicon' !important;  content: "\eef3"; }
    &.asset-icon-map-2-fill:before {font-family: 'remixicon' !important;  content: "\ec49"; }
    &.asset-icon-map-fill:before {font-family: 'remixicon' !important;  content: "\ef07"; }
    &.asset-icon-map-pin-2-fill:before {font-family: 'remixicon' !important;  content: "\ef09"; }
    &.asset-icon-map-pin-fill:before {font-family: 'remixicon' !important;  content: "\ef13"; }
    &.asset-icon-medal-fill:before {font-family: 'remixicon' !important;  content: "\ef27"; }
    &.asset-icon-meteor-fill:before {font-family: 'remixicon' !important;  content: "\ef4b"; }
    &.asset-icon-mic-fill:before {font-family: 'remixicon' !important;  content: "\ef4f"; }
    &.asset-icon-money-dollar-box-fill:before {font-family: 'remixicon' !important;  content: "\ef62"; }
    &.asset-icon-money-dollar-circle-fill:before {font-family: 'remixicon' !important;  content: "\ef64"; }
    &.asset-icon-moon-fill:before {font-family: 'remixicon' !important;  content: "\ef72"; }
    &.asset-icon-motorbike-fill:before {font-family: 'remixicon' !important;  content: "\ef7a"; }
    &.asset-icon-mouse-fill:before {font-family: 'remixicon' !important;  content: "\ef7c"; }
    &.asset-icon-more-line:before {font-family: 'remixicon' !important;  content: "..."; }
    &.asset-icon-movie-2-fill:before {font-family: 'remixicon' !important;  content: "\ef7e"; }
    &.asset-icon-mv-fill:before {font-family: 'remixicon' !important;  content: "\ef86"; }
    &.asset-icon-nurse-fill:before {font-family: 'remixicon' !important;  content: "\efab"; }
    &.asset-icon-oil-fill:before {font-family: 'remixicon' !important;  content: "\efad"; }
    &.asset-icon-parent-fill:before {font-family: 'remixicon' !important;  content: "\efc9"; }
    &.asset-icon-pencil-fill:before {font-family: 'remixicon' !important;  content: "\efdf"; }
    &.asset-icon-phone-fill:before {font-family: 'remixicon' !important;  content: "\efe9"; }
    &.asset-icon-plane-fill:before {font-family: 'remixicon' !important;  content: "\f004"; }
    &.asset-icon-plant-fill:before {font-family: 'remixicon' !important;  content: "\f006"; }
    &.asset-icon-question-fill:before {font-family: 'remixicon' !important;  content: "\f044"; }
    &.asset-icon-radar-fill:before {font-family: 'remixicon' !important;  content: "\f04b"; }
    &.asset-icon-rainbow-fill:before {font-family: 'remixicon' !important;  content: "\f053"; }
    &.asset-icon-rainy-fill:before {font-family: 'remixicon' !important;  content: "\f055"; }
    &.asset-icon-restaurant-fill:before {font-family: 'remixicon' !important;  content: "\f083"; }
    &.asset-icon-roadster-fill:before {font-family: 'remixicon' !important;  content: "\f08f"; }
    &.asset-icon-robot-fill:before {font-family: 'remixicon' !important;  content: "\f091"; }
    &.asset-icon-rocket-2-fill:before {font-family: 'remixicon' !important;  content: "\f093"; }
    &.asset-icon-rocket-fill:before {font-family: 'remixicon' !important;  content: "\f095"; }
    &.asset-icon-run-fill:before {font-family: 'remixicon' !important;  content: "\f0a4"; }
    &.asset-icon-sailboat-fill:before {font-family: 'remixicon' !important;  content: "\f0ac"; }
    &.asset-icon-scales-3-fill:before {font-family: 'remixicon' !important;  content: "\f0b6"; }
    &.asset-icon-send-plane-fill:before {font-family: 'remixicon' !important;  content: "\f0d9"; }
    &.asset-icon-settings-fill:before {font-family: 'remixicon' !important;  content: "\f0ed"; }
    &.asset-icon-shield-fill:before {font-family: 'remixicon' !important;  content: "\f103"; }
    &.asset-icon-shield-flash-fill:before {font-family: 'remixicon' !important;  content: "\f104"; }
    &.asset-icon-shield-star-fill:before {font-family: 'remixicon' !important;  content: "\f109"; }
    &.asset-icon-ship-2-fill:before {font-family: 'remixicon' !important;  content: "\f10d"; }
    &.asset-icon-ship-fill:before {font-family: 'remixicon' !important;  content: "\f10f"; }
    &.asset-icon-shopping-basket-fill:before {font-family: 'remixicon' !important;  content: "\f11b"; }
    &.asset-icon-shopping-cart-2-fill:before {font-family: 'remixicon' !important;  content: "\f11d"; }
    &.asset-icon-sip-fill:before {font-family: 'remixicon' !important;  content: "\f13d"; }
    &.asset-icon-skull-2-fill:before {font-family: 'remixicon' !important;  content: "\f147"; }
    &.asset-icon-skull-fill:before {font-family: 'remixicon' !important;  content: "\f149"; }
    &.asset-icon-slice-fill:before {font-family: 'remixicon' !important;  content: "\f14f"; }
    &.asset-icon-smartphone-fill:before {font-family: 'remixicon' !important;  content: "\f159"; }
    &.asset-icon-space-ship-fill:before {font-family: 'remixicon' !important;  content: "\f165"; }
    &.asset-icon-spy-fill:before {font-family: 'remixicon' !important;  content: "\f17e"; }
    &.asset-icon-stack-fill:before {font-family: 'remixicon' !important;  content: "\f180"; }
    &.asset-icon-star-fill:before {font-family: 'remixicon' !important;  content: "\f186"; }
    &.asset-icon-store-3-fill:before {font-family: 'remixicon' !important;  content: "\f1a6"; }
    &.asset-icon-subtract-line:before {font-family: 'remixicon' !important;  content: "\f1af"; }
    &.asset-icon-subway-fill:before {font-family: 'remixicon' !important;  content: "\f1b0"; }
    &.asset-icon-suitcase-fill:before {font-family: 'remixicon' !important;  content: "\f1b8"; }
    &.asset-icon-sun-fill:before {font-family: 'remixicon' !important;  content: "\f1bc"; }
    &.asset-icon-sword-fill:before {font-family: 'remixicon' !important;  content: "\f1ce"; }
    &.asset-icon-syringe-fill:before {font-family: 'remixicon' !important;  content: "\f1d0"; }
    &.asset-icon-t-shirt-2-fill:before {font-family: 'remixicon' !important;  content: "\f1d4"; }
    &.asset-icon-takeaway-fill:before {font-family: 'remixicon' !important;  content: "\f1e1"; }
    &.asset-icon-taxi-fill:before {font-family: 'remixicon' !important;  content: "\f1e9"; }
    &.asset-icon-team-fill:before {font-family: 'remixicon' !important;  content: "\f1ed"; }
    &.asset-icon-test-tube-fill:before {font-family: 'remixicon' !important;  content: "\f1fb"; }
    &.asset-icon-ticket-fill:before {font-family: 'remixicon' !important;  content: "\f20c"; }
    &.asset-icon-tools-fill:before {font-family: 'remixicon' !important;  content: "\f21a"; }
    &.asset-icon-train-fill:before {font-family: 'remixicon' !important;  content: "\f222"; }
    &.asset-icon-trophy-fill:before {font-family: 'remixicon' !important;  content: "\f22e"; }
    &.asset-icon-truck-fill:before {font-family: 'remixicon' !important;  content: "\f230"; }
    &.asset-icon-tv-fill:before {font-family: 'remixicon' !important;  content: "\f236"; }
    &.asset-icon-user-2-fill:before {font-family: 'remixicon' !important;  content: "\f253"; }
    &.asset-icon-user-3-fill:before {font-family: 'remixicon' !important;  content: "\f255"; }
    &.asset-icon-user-fill:before {font-family: 'remixicon' !important;  content: "\f25f"; }
    &.asset-icon-vip-crown-2-fill:before {font-family: 'remixicon' !important;  content: "\f28b"; }
    &.asset-icon-vip-crown-fill:before {font-family: 'remixicon' !important;  content: "\f28d"; }
    &.asset-icon-vip-diamond-fill:before {font-family: 'remixicon' !important;  content: "\f28f"; }
    &.asset-icon-virus-fill:before {font-family: 'remixicon' !important;  content: "\f293"; }
    &.asset-icon-walk-fill:before {font-family: 'remixicon' !important;  content: "\f2a7"; }
    &.asset-icon-wallet-fill:before {font-family: 'remixicon' !important;  content: "\f2ad"; }
    &.asset-icon-water-flash-fill:before {font-family: 'remixicon' !important;  content: "\f2af"; }
    &.asset-icon-arrow-up-double-fill:before {font-family: 'remixicon' !important;  content: "\f2ea"; }
    &.asset-icon-box-1-fill:before {font-family: 'remixicon' !important;  content: "\f2f0"; }
    &.asset-icon-box-2-fill:before {font-family: 'remixicon' !important;  content: "\f2f2"; }
    &.asset-icon-box-3-fill:before {font-family: 'remixicon' !important;  content: "\f2f4"; }
    &.asset-icon-brain-fill:before {font-family: 'remixicon' !important;  content: "\f2f6"; }
    &.asset-icon-candle-fill:before {font-family: 'remixicon' !important;  content: "\f2f8"; }
    &.asset-icon-corner-down-right-fill::before {font-family: 'remixicon' !important;  content: "\f308"; }
    &.asset-icon-cross-fill:before {font-family: 'remixicon' !important;  content: "\f31a"; }
    &.asset-icon-hourglass-fill:before {font-family: 'remixicon' !important;  content: "\f338"; }
    &.asset-icon-shining-fill:before {font-family: 'remixicon' !important;  content: "\f35d"; }
    &.asset-icon-sparkling-2-fill:before {font-family: 'remixicon' !important;  content: "\f36a"; }
    &.asset-icon-speak-fill:before {font-family: 'remixicon' !important;  content: "\f36e"; }
    &.asset-icon-instance-fill:before {font-family: 'remixicon' !important;  content: "\f382"; }
    &.asset-icon-megaphone-fill:before {font-family: 'remixicon' !important;  content: "\f384"; }
    &.asset-icon-planet-fill:before {font-family: 'remixicon' !important;  content: "\f39e"; }
    &.asset-icon-crosshair-2-fill:before {font-family: 'remixicon' !important;  content: "\f3b2"; }
    &.asset-icon-infinity-fill:before {font-family: 'remixicon' !important;  content: "\f3b8"; }
    &.asset-icon-beer-fill:before {font-family: 'remixicon' !important;  content: "\f3bf"; }
    &.asset-icon-circle-fill:before {font-family: 'remixicon' !important;  content: "\f3c1"; }
    &.asset-icon-hexagon-fill:before {font-family: 'remixicon' !important;  content: "\f3ce"; }
    &.asset-icon-octagon-fill:before {font-family: 'remixicon' !important;  content: "\f3d2"; }
    &.asset-icon-pentagon-fill:before {font-family: 'remixicon' !important;  content: "\f3d4"; }
    &.asset-icon-rectangle-fill:before {font-family: 'remixicon' !important;  content: "\f3d6"; }
    &.asset-icon-robot-2-fill:before {font-family: 'remixicon' !important;  content: "\f3d8"; }
    &.asset-icon-shapes-fill:before {font-family: 'remixicon' !important;  content: "\f3da"; }
    &.asset-icon-square-fill:before {font-family: 'remixicon' !important;  content: "\f3dc"; }
    &.asset-icon-tent-fill:before {font-family: 'remixicon' !important;  content: "\f3de"; }
    &.asset-icon-tree-fill:before {font-family: 'remixicon' !important;  content: "\f3e2"; }
    &.asset-icon-triangle-fill:before {font-family: 'remixicon' !important;  content: "\f3e4"; }
    &.asset-icon-file-word-fill:before {font-family: 'remixicon' !important;  content: "\ed1c"; }
    &.asset-icon-list-check:before {font-family: 'remixicon' !important;  content: "\eeba"; }
    &.asset-icon-list-check-3:before {font-family: 'remixicon' !important;  content: "\f398"; }
    &.asset-icon-organization-chart:before {font-family: 'remixicon' !important;  content: "\efb8"; }
    &.asset-icon-message-2-fill:before {font-family: 'remixicon' !important;  content: "\ef43"; }
    &.asset-icon-bubble-chart-fill:before {font-family: 'remixicon' !important;  content: "\EB02"; }
    &.asset-icon-settings-3-fill:before {font-family: 'remixicon' !important;  content: "\f0e5"; }
    &.asset-icon-map-2-line:before {font-family: 'remixicon' !important;  content: "\ef06"; }
    &.asset-icon-markdown-line:before {font-family: 'remixicon' !important;  content: "\ef1e"; }
    &.asset-icon-search-line:before {font-family: 'remixicon' !important;  content: "\f0d1"; }
    &.asset-icon-layout-column-fill:before {font-family: 'remixicon' !important;  content: "\ee8c"; }
    &.asset-icon-add-line:before {font-family: 'remixicon' !important;  content: "\ea13"; }
    &.asset-icon-markdown-fill:before {font-family: 'remixicon' !important;  content: "\ef1d"; }
    &.asset-icon-node-tree:before {font-family: 'remixicon' !important;  content: "\EF90"; }
}